<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-text class="ion-text-center" color="dark">
        <h3>Nueva venta </h3>
      </ion-text>
      <ion-buttons slot="end">
        <ion-button (click)="close()" fill="clear">
          <ion-icon  slot="icon-only" name="close"></ion-icon>
         </ion-button>
      </ion-buttons>

    </ion-toolbar>


  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar
  mode="ios"
  placeholder="Buscar producto"
  [debounce]="250"
  (ionChange)="showProduct($event)"
  ></ion-searchbar>

  <ion-chip color="{{color}}" *ngFor="let sp of productsSearch">{{sp.data.item.name}}</ion-chip>

      </ion-col>
      <ion-col size="12">
        <ion-label >Cantidad</ion-label>
        <form [formGroup]="formCSale">
        <ion-input formControlName="amount"
           type="number"
           fill="outline"
           placeholder="Cantidad de productos"></ion-input>
          </form>

          <small class="colorSmall" color="danger" *ngIf="validarStock()">El Stockd debe ser mayor a 0</small>
      </ion-col>
    </ion-row>

    <ion-button (click)="saveSale()"  expand="block"  >
     Crear Venta
    </ion-button>
  </ion-grid>



</ion-content>
