<!-- <ion-header [translucent]="true"> -->
<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<swiper-container #swiper
[autoplay]="{delay: 3000}"
effect="cube"
[slidesPerView]="1.5"
[loop]="true"
[pagination]="true">
  <swiper-slide
   *ngFor=" let prod of mostSold">

    <ion-card class="ion-padding">
      <ion-img [src]=prod.image ></ion-img>

    </ion-card>
  </swiper-slide>
</swiper-container>

<ion-text color="dark">
  <h1 class="ion-padding">Lo mas vendido</h1>
</ion-text>

<swiper-container #swiper
[autoplay]="{delay: 3000}"
effect="overflow"
[slidesPerView]="2.5">
  <swiper-slide
  *ngFor="let p of products">

  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <p>{{p.name.length >2 ? p.name.substring(0,10) + '...' : p }}</p>
        <ion-icon *ngIf="p.stock >= 1"  slot="end" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="p.stock === 0"  slot="end" name="close-circle"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]=p.image></ion-img>

        <h3 class="ion-padding"> {{p.price | currency}}</h3>
    </ion-card-content>
  </ion-card>

  </swiper-slide>
</swiper-container>

<!-- <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical> -->


<ion-item-divider>
  <ion-label>Estadisticas</ion-label>
</ion-item-divider>

<ion-card>
  <div style="text-align:center;">
    <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [title]="chartOptions.title!"
    ></apx-chart>
  </div>
</ion-card>



</ion-content>
