

<ion-content>

  <ion-button (click)="btnMakePdf()"> Generar Pdf</ion-button>

  <ion-card *ngFor=" let sa of ventas">
    <ion-card-header>
      <ion-card-title>{{sa.product_id}}</ion-card-title>
      <ion-card-subtitle>Cantidad: {{sa.amount}}</ion-card-subtitle>
      <ion-card-subtitle>total: {{sa.total}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button (click)="deleteSale(sa.id)">Eliminar</ion-button>
  </ion-card>

</ion-content>


